body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5
}

#root,
.app-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.voice-card-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.voice-card-buttons button {
  margin-left: 10px;
}

.container {
  flex: 0 0 80%;
  max-width: 50%;
}


@media (max-width: 768px) {
  .voice-card-buttons {
    align-items: center;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .voice-card-buttons button {
    margin-left: 0;
    margin-top: 10px;
    padding: 1px 10px;
    font-size: 12px;

  }

  .responsive-title {
    font-size: 11px;
  }

  .containerCard {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container {
    flex: 0 0 90%;
    max-width: 100%;
  }
}